
.login input{
  
 border-style: none;
 box-sizing: border-box;
 padding: 1rem ;

 background-color: #F5A962;
 margin: 1rem;
 border-radius: 5px;
}
.login input:hover{
    background-color: #f3c395;
}
.login input::placeholder{
    color: black;
}

.login {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 1rem;
    display: inline-block;
    width: 50%;
    padding-left: 2rem;
    background-color: #3C8DAD;
    border-radius: 25px;
    
}
.login form{
    background-color: #3C8DAD;
    border-radius: 25px;
}
.login h1{
    background-color: #3C8DAD;
    color: #F5A962;
}